@import "tailwindcss";

@theme {
    --color-primary: #F1F0E8;
    --color-blackPrimary: #212529;
}

.banner {
    background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.3) 0%,
            rgba(0, 0, 0, 0.3) 100%
    ),
    url("../public/main banner.jpg") lightgray 50% / cover no-repeat;
    background-position: center;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.animate-marquee {
    display: flex;
    white-space: nowrap;
    animation: marquee 20s linear infinite;
}

.menuMobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

@media (min-width: 470px) {
    .menuMobile {
        display: none;
    }

    .largeScreenMenu {
        display: flex;
    }
}

@media (max-width: 470px) {
    .largeScreenMenu {
        display: none;
    }

    .menuMobileUl {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 6px;

        justify-content: center;
        align-items: center;
        box-sizing: border-box;
    }
}
